body {
    margin: 0;
    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #5eb954;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.TopHead {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    float: left;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: center; /* Centers the navigation items horizontally */
    align-items: center; /* Vertically aligns the items */
    height: 100%; /* Ensures nav items are vertically centered */
    float: right;
    width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex; /* Enables flexbox layout for the list items */
    justify-content: space-evenly; /* Spreads out the items evenly */
    width: 100%;
}

nav li {
    padding-top: 33px;
    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    padding: 0 20px; /* Adds space between the links */
}

nav a:hover {
    color: #000;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;
    position: absolute;
    bottom: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

